@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


:root {
  --cor_fundo: #ffffff;
  --cor_fundo2:#ffffff;
  --cor_fundo3: #eac8ff;
  --cor_fundo4: #a24df7;
  --fontes: #ffffff; 
  --fontes_efeito: #ff3fff;
  --categorias: #1f1f1f;
  --fonte_escura: #2c143b;
}

*{
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 85vh;
    background: var(--cor_fundo2);
    margin-right: 220px;
}

.form-image{
    width: 60%;
    height: 100%;
   justify-content: left;
   background-color: #000;
   margin-right: 100px;
   margin-bottom: 100px;

}

.form-image img{
    width: 74%;
    height: 80%;
    margin-top: 0;
}

.card {
    height: 5rem;

}


.login-box{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: var(--fonte_escura);
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: var(--fonte);
}
.input-field:focus{
    width: 105%;
}
.esqueceu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--fonte_escura);
}
#check{
    margin-right: 10px;
    background-color: #2c143b;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: var(--fonte_escura);
}
.input-logar{
    position: relative;
}
.logar-btn{
    width: 100%;
    height: 60px;
    background: var(--fonte_escura);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-logar label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: var(--cor_fundo4);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.logar-btn:hover{
    background: var(--fonte_escura);
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

input {
    background-color: var(--cor_fundo3);
}