@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
    height: 100%;
}

:root {
  --cor_fundo: #ffffff;
  --cor_fundo2:#ffffff;
  --cor_fundo3: #eac8ff;
  --cor_fundo4: #a24df7;
  --fontes: #ffffff; 
  --fontes_efeito: #ff3fff;
  --categorias: #1f1f1f;
  --fonte_escura: #2c143b;


  
}

*{
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 85vh;
    background: var(--cor_fundo2);
    margin-right: 220px;
}

.container {
    display: flex;
    
}

/* QUADRADO AO LADO DO LOGIN */
.quadrado {
    width: 776px;
    height: 781px;
    background: #140120;
    overflow: hidden;  /* permite o carrossel aparecer dentro */
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0 1000px ;
}

.quadrado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 725px;
    height: 771px;
    background: rgba(0, 0, 0, 0.55); /* AQUI ESCURECE */
    pointer-events: none;
    z-index: 5;
}

.megacarrosel{
  margin-top: 340px;
  
  
}


.carousel1{
    margin-top: -100px;
    width: 100%;
    display:flex;
    overflow-x: auto;
    
}

.carousel{
    margin-top: -440px;
    width: 100%;
    display:flex;
    overflow-x: auto;
    
}

.carousel2{
    margin-top: 300px;
    width: 100%;
    display:flex;
    overflow-x: auto;
    
}

.carousel::-webkit-scrollbar {
    display: none;
}

.grupo{
    display:flex;
    align-items: left;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
   
}

.card {
    flex: 0 0 130px;
    height: 12rem;
    padding: 0rem;
    background: #2c143b;
    font-size: 3rem;
    border-radius:5px;
    text-align: center;
    align-content: center;
    overflow: hidden;
    
}

.card-imagem{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem sem deformar */
  display: block;
  
  
}

@keyframes spin{
    from {translate: 0;}
    to{translate: -100%;}
}

.login-box{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
    margin-left: 200px;
    margin-top: 60px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: var(--fonte_escura);
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: var(--fonte);
}
.input-field:focus{
    width: 105%;
}
.esqueceu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--fonte_escura);
}
#check{
    margin-right: 10px;
    background-color: #2c143b;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: var(--fonte_escura);
}
.input-logar{
    position: relative;
}
.logar-btn{
    width: 100%;
    height: 60px;
    background: var(--fonte_escura);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-logar label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: var(--cor_fundo4);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.logar-btn:hover{
    background: var(--fonte_escura);
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

input {
    background-color: var(--cor_fundo3);
}
